.content {
    max-width: 500px;
    margin: auto;
}
body {
    background-color: #004C99;
    display: flex;
}
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}
p {
    font-family: monospace, 'Trebuchet MS', sans-serif;
    font-size: larger;
}
th, h2 {
    font-family: monospace, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}
a {
    color: white;
    font-weight: bold;
}
ul {
    list-style-type: circle;
}
legend {
    font-family: monospace, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 30px;
}