body {
    background-color: #004C99;
    display: flex;
    align-items: center;
}
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
}
p {
    font-family: monospace, 'Trebuchet MS', sans-serif;
    font-size: larger;
}
th, h2 {
    font-family: monospace, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}
a {
    color: white;
}