body {
    background-color: #004C99;
    margin: auto;
}
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    margin: center;
}
p {
    font-family: monospace, 'Trebuchet MS', sans-serif;
    font-size: larger;
}
th, h2 {
    font-family: monospace, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}
a {
    color: white;
    font-weight: bold;
}
ul {
    list-style-type: circle;
    padding-bottom: 5px;
}
legend {
    font-family: monospace, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 30px;
}
#tools img{
    float: left;
    padding-right: 25px;
}
table {
    border-color: aqua;
}
th {
    color: azure;
}
td {
    color: aliceblue;
}